<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: #f8f9fa;
        }
        img {
            max-width: 90%;
            height: auto;
            margin-bottom: 5%;
            border-radius: 2%;
            box-shadow: 0 4% 8% rgba(0, 0, 0, 0.1);
        }
        p {
            font-size: 5vw;
            color: #333;
            margin: 0 5%;
            text-align: center;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename=path.split('static/')[1]) }}" alt="Uploaded Image">
    <p>Zahlenwert: {{value}}</p>
</body>
</html>
